
*{
    box-sizing: border-box;
}
.raper{
    display: inline-block;
    position: relative;
}

.big-circle {
    width: 50px;
    height: 50px;
    background: #a9aaab;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}

.big-circle:hover, .pointer:hover, .all-imgs {
    cursor: pointer
}

.small-circle {
    position: absolute;
    background: #a9aaab;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 18%;
    left: 18%;
    border: 1px solid #fff;
}

.children{
    position: absolute;
    background: #a9aaab;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    left: 200%;
}



.small-children-circle{
    position: absolute;
    background: #a9aaab;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: 18%;
    left: 18%;
    border: 1px solid #fff;
}

/* ################## PICTURE STYLE ################ */

.container{
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
}

.main-img{
    width: 100%;
    height: 250px;
}

ul {
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}


.all-imgs  {
    list-style: none;
    float: left;
    margin-right: 3px;
    width: 19%;
}

.all-imgs > img{
    width: 95%;
    height: 72px;
}